[default]
aws_access_key_id={{ postgresql_aws_access_key_id }}
aws_secret_access_key={{ postgresql_aws_secret_access_key }}
region={{ postgresql_aws_region }}
endpoint_url={{ postgresql_aws_endpoint_url }}
ca_bundle={{ postgresql_aws_ca_bundle }}
