[Service]
Environment="AWS_DEFAULT_REGION={{ postgresql_aws_region }}"
Environment="AWS_ENDPOINT_URL={{ postgresql_aws_endpoint_url }}"
Environment="AWS_SECRET_ACCESS_KEY={{ postgresql_aws_access_key_id }}"
Environment="AWS_ACCESS_KEY_ID={{ postgresql_aws_secret_access_key }}"
