# WAL-G Configuration

# AWS S3 Configuration
export AWS_ACCESS_KEY_ID="{{ lookup('env', 'POSTGRESQL_AWS_ACCESS_KEY_ID') }}"
export AWS_SECRET_ACCESS_KEY="{{ lookup('env', 'POSTGRESQL_AWS_SECRET_ACCESS_KEY') }}"
export AWS_S3_FORCE_PATH_STYLE=true
export AWS_ENDPOINT={{ postgresql_aws_endpoint }}
export AWS_REGION={{ postgresql_aws_region }}
export AWS_SSL_VERIFY={{ postgresql_aws_ssl_verify }}

# WAL-G Configuration
export WALG_S3_PREFIX={{ postgresql_wal_g_s3_prefix }}
export WALG_COMPRESSION_METHOD=brotli
export WALG_COMPRESSION_LEVEL=1
export WALG_LOG_LEVEL=NORMAL
export WALG_LOG_PATH=/var/log/wal-g/wal-g.log

# PostgreSQL Configuration
export PGUSER=postgres
export PGPASSWORD="{{ lookup('env', 'POSTGRESQL_PASSWORD') }}"

# SSL Configuration
export WALG_S3_CA_CERT_FILE={{ postgresql_aws_ca_bundle }}
