global:
  domain: argocd.infra.home.arpa

configs:
  params:
    server.insecure: true
    application.namespaces: "*"
  cm:
    oidc.config: |
      name: Keycloak
      issuer: https://sso.infra.home.arpa/realms/homelab
      clientID: argocd
      enablePKCEAuthentication: true
      rootCA: |
        ${indent(8, root_ca)}
      requestedScopes: ["openid", "profile", "email", "groups"]
  rbac:
    defaultPolicy: 'role:readonly'
    policy.csv: |
      p, role:no-view, *, *, */*, deny
      g, admin, role:admin

server:
  ingress:
    enabled: false

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      selector:
        release: kube-prometheus-stack

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      selector:
        release: kube-prometheus-stack

repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      selector:
        release: kube-prometheus-stack

applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      selector:
        release: kube-prometheus-stack
